.container {
	margin-top: 40px;
	background-color: #FFFF99;
	border: 2px solid black;
	width: 300px;
	height: 1200px;
}

.container h1 {
	font-size: 35px;
}

.container p {
	font-size: 20px;
}